In [9]:
import pandas as pd 

pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df1 = pd.read_excel('data/main_index_quarter.xlsx')
df2 = pd.read_excel('data/growth_contribution_quarter.xlsx')
df = pd.concat([df1, df2], ignore_index=True)
df.shape

/home/dave/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/dave/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

(84, 91)

In [11]:
df.columns

Index(['계정항목별', '2000.1/4', '2000.2/4', '2000.3/4', '2000.4/4', '2001.1/4',
       '2001.2/4', '2001.3/4', '2001.4/4', '2002.1/4', '2002.2/4', '2002.3/4',
       '2002.4/4', '2003.1/4', '2003.2/4', '2003.3/4', '2003.4/4', '2004.1/4',
       '2004.2/4', '2004.3/4', '2004.4/4', '2005.1/4', '2005.2/4', '2005.3/4',
       '2005.4/4', '2006.1/4', '2006.2/4', '2006.3/4', '2006.4/4', '2007.1/4',
       '2007.2/4', '2007.3/4', '2007.4/4', '2008.1/4', '2008.2/4', '2008.3/4',
       '2008.4/4', '2009.1/4', '2009.2/4', '2009.3/4', '2009.4/4', '2010.1/4',
       '2010.2/4', '2010.3/4', '2010.4/4', '2011.1/4', '2011.2/4', '2011.3/4',
       '2011.4/4', '2012.1/4', '2012.2/4', '2012.3/4', '2012.4/4', '2013.1/4',
       '2013.2/4', '2013.3/4', '2013.4/4', '2014.1/4', '2014.2/4', '2014.3/4',
       '2014.4/4', '2015.1/4', '2015.2/4', '2015.3/4', '2015.4/4', '2016.1/4',
       '2016.2/4', '2016.3/4', '2016.4/4', '2017.1/4', '2017.2/4', '2017.3/4',
       '2017.4/4', '2018.1/4', '2018.2/4', '2018.3/4', '2018.4/4', '2019.1/4',
       '2019.2/4', '2019.3/4', '2019.4/4', '2020.1/4', '2020.2/4', '2020.3/4',
       '2020.4/4', '2021.1/4', '2021.2/4', '2021.3/4', '2021.4/4', '2022.1/4',
       '2022.2/4'],
      dtype='object')

In [14]:
df = df.drop(columns=df.columns[0])

In [186]:
import copy
df3 = pd.read_excel('data/korea_interest_rates.xlsx')
df3['Month'] = df3['Date'].str.split('월').str[0]
df3 = df3.drop(columns=['Date'])


df3

    Year  Interest Rate  Variation Month
0   2022           2.25       0.50    07
1   2022           1.75       0.25    05
2   2022           1.50       0.25    04
3   2022           1.25       0.25    01
4   2021           1.00       0.25    11
5   2021           0.75       0.25    08
6   2020           0.50      -0.25    05
7   2020           0.75      -0.50    03
8   2019           1.25      -0.25    10
9   2019           1.50      -0.25    07
10  2018           1.75       0.25    11
11  2017           1.50       0.25    11
12  2016           1.25      -0.25    06
13  2015           1.50      -0.25    06
14  2015           1.75      -0.25    03
15  2014           2.00      -0.25    10
16  2014           2.25      -0.25    08
17  2013           2.50      -0.25    05
18  2012           2.75      -0.25    10
19  2012           3.00      -0.25    07
20  2011           3.25       0.25    06
21  2011           3.00       0.25    03
22  2011           2.75       0.25    01
23  2010           2.50       0.25    11
24  2010           2.25       0.25    07
25  2009           2.00      -0.50    02
26  2009           2.50      -0.50    01
27  2008           3.00      -1.00    12
28  2008           4.00      -0.25    11
29  2008           4.25      -0.75    10
30  2008           5.00      -0.25    10
31  2008           5.25       0.25    08
32  2007           5.00       0.25    08
33  2007           4.75       0.25    07
34  2006           4.50       0.25    08
35  2006           4.25       0.25    06
36  2006           4.00       0.25    02
37  2005           3.75       0.25    12
38  2005           3.50       0.25    10
39  2004           3.25      -0.25    11
40  2004           3.50      -0.25    08
41  2003           3.75      -0.25    07
42  2003           4.00      -0.25    05
43  2002           4.25       0.25    05
44  2001           4.00      -0.50    09
45  2001           4.50      -0.25    08
46  2001           4.75      -0.25    07
47  2001           5.00      -0.25    02
48  2000           5.25       0.25    10
49  2000           5.00       0.25    02

In [ ]:
last_year = int(df3.iloc[-1]['Year'])
last_month = int(df3.iloc[-1]['Month'])

year = 2022
month = 7

while True:
    
    found = -1
    for i, row in df3.iterrows():
        if year == int(row['Year']) and month < int(row['Month']):
            found = i+1
            break

    if found != -1:
        # df3 = df3.sort_index().reset_index(drop=True)
        data = copy.deepcopy(df3.loc[found-1])
        data['Month'] = "%02d" % month
        data['Year'] = str(year)
        print(data)
        df3 = pd.concat([df3[0:found], data, df3[found:]], ignore_index=True)
    
    if month == 1:
        month = 12
        year -= 1
    else:
        month -= 1
        
    if last_year == year and last_month == month:
        break